@font-face{
  font-family: "Emblema One";
  src:	url("http://www.wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
  		url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
/*
  src:	url("/tmp/mozilla_penglei0/EmblemaOne-Regular.ttf "),
	  	url("/home/penglei/Downloads/EmblemaOne-Regular.woff ");
*/
}
body{
  font-family: Verdana, Geneva, Arial, sans-serif;
}
h1{
  font-family: "Emblema One", sans-serif;
}
